<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="col-12 text-center"><h2>My Events</h2></div>
    <div class="container">
      <div class="row">
        <div class="col-12 card">
          <div>
            <div class="card-body">
              <h3 class="card-title">Rib Fest</h3>
              <p class="card-text">6/26/2023</p>
              <p class="card-text">Rib fest at some park for some event i can't think of</p>
              <p class="card-text">Location: 1234 Park Ave, Chicago, IL 60601</p>
              <p class="card-text">Time: 12:00pm</p>
              <p class="card-text">Limit Capacity: 5/50</p>
              <a href="/update" class="card-link">Edit</a>
              <a href="/delete" class="card-link">Delete</a>
            </div>
          </div>
        </div>
      </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
