<div class="d-flex col-12 justify-content-center my-5">
  <form
    class="d-flex flex-row flex-wrap col-4 border border-black rounded-4 p-4"
  >
    <div class="form-group col-12 text-center my-2">
      <label for="event-name">Event Name</label>
      <input
        type="text"
        class="form-control"
        id="event-name"
        placeholder="Enter event name"
      />
    </div>
    <div class="form-group col-6 text-center my-2">
      <label for="event-start-date">Event Start Date</label>
      <input
        type="date"
        class="form-control"
        id="event-start-date"
        placeholder="Enter event start date"
      />
    </div>
    <div class="form-group col-6 text-center my-2">
      <label for="event-start-time">Event Start Time</label>
      <input
        type="time"
        class="form-control"
        id="event-start-time"
        placeholder="Enter event start time"
      />
    </div>
    <div class="form-group col-6 text-center my-2">
      <label for="event-end-date">Event Start Date</label>
      <input
        type="date"
        class="form-control"
        id="event-start-date"
        placeholder="Enter event end date"
      />
    </div>
    <div class="form-group col-6 text-center my-2">
      <label for="event-end-time">Event Start Time</label>
      <input
        type="time"
        class="form-control"
        id="event-end-time"
        placeholder="Enter event end time"
      />
    </div>
    <div class="form-group col-12 text-center my-2">
      <label for="event-description">Event Description</label>
      <input
        type="text"
        class="form-control"
        id="event-description"
        placeholder="Enter event description"
      />
    </div>
    <div class="form-group col-12 text-center my-2">
      <label for="event-location">Event Location</label>
      <input
        type="text"
        class="form-control"
        id="event-location"
        placeholder="Enter event location"
      />
    </div>
    <div class="form-group col-6 text-center my-2">
      <label for="event-cost">Event Cost</label>
      <input
        type="number"
        class="form-control"
        id="event-cost"
        placeholder="Enter event cost"
      />
    </div>
    <div class="form-group col-6 text-center my-2">
      <label for="event-capacity">Event Capacity</label>
      <input
        type="number"
        class="form-control"
        id="event-capacity"
        placeholder="Enter event capacity"
      />
    </div>
    <div class="d-flex justify-content-center my-2 col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>