<div class="col-12 text-center"><h2>My Events</h2></div>
<div class="container">
  <div class="row">
    <div class="col-12 card">
      <div>
        <div class="card-body">
          <h3 class="card-title">Rib Fest</h3>
          <p class="card-text">6/26/2023</p>
          <p class="card-text">Rib fest at some park for some event i can't think of</p>
          <p class="card-text">Location: 1234 Park Ave, Chicago, IL 60601</p>
          <p class="card-text">Time: 12:00pm</p>
          <p class="card-text">Limit Capacity: 5/50</p>
          <a href="/update" class="card-link">Edit</a>
          <a href="/delete" class="card-link">Delete</a>
        </div>
      </div>
    </div>
  </div>
