<div class="d-flex col-12 text-center">
  <h2 class="col-12 my-3">My Events</h2>
</div>
<div class="d-flex col-11 justify-content-end">
  <button id="create-event-btn" class="col-1 my-3 align-self-center text-end w-10" style="width: 115px">Create Event</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 card">
      <div>
        <div class="card-body">
          <h3 class="card-title">Rib Fest</h3>
          <p class="card-text">6/26/2023</p>
          <p class="card-text">Rib fest at some park for some event i can't think of</p>
          <p class="card-text">Location: 1234 Park Ave, Chicago, IL 60601</p>
          <p class="card-text">Time: 12:00pm</p>
          <p class="card-text">Limit Capacity: 5/50</p>
          <a href="/update" class="card-link">Edit</a>
          <a href="/delete" class="card-link">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/dashboard.js"></script>
