<div
  class="col-2 border border-black border-3 rounded-4 align-items-center d-flex flex-column mx-auto mt-5"
>
  <h1>Sign up</h1>
  <form action="/signup" method="POST">
    <div class="d-flex flex-column">
      <label class="m-2" for="username">Username</label>
      <input
        class="m-2"
        type="text"
        name="username"
        id="signup-username"
        placeholder="Enter username"
      />
    </div>
    <div class="d-flex flex-column">
      <label class="m-2" for="password">Password</label>
      <input
        class="m-2"
        type="password"
        name="password"
        id="signup-password"
        placeholder="Enter password"
      />
    </div>
    <div class="d-flex justify-content-center">
      <button id="signup-btn" class="m-2" type="submit">Sign up</button>
    </div>
    <div class="d-flex justify-content-center">
      <a href="/login">Login instead</a>
    </div>
  </form>
</div>
<script src="/js/signup.js"></script>