:root {
    --primary: #f99b7d;
    --secondary: #e76161;
    --tertiary: #b04759;
    --quatrinary: #8bacaa;
    --light: #e7e7e7;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--light);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-right: 15px;
}