:root {
  --primary: #f99b7d;
  --secondary: #e76161;
  --tertiary: #b04759;
  --quatrinary: #8bacaa;
  --quinary: #d13c0a;
  --light: #e7e7e7;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333;
  background-color: #f2f2f2;
}

header {
  padding: 15px 0;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar-nav .nav-link {
  font-size: 18px;
  color: #333;
  padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
  color: var(--quatrinary);
}

.main-content {
  margin-top: 30px;
}

.footer {
  background-color: #f2f2f2;
  padding-top: 10px;
}

.footer .text-muted {
  font-size: 14px;
}

.container {
  max-width: 1200px;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 30vh;
  background-image: url("/images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  width: 50%;
  max-width: 500px;
  border-radius: 5px;
}

.hero-text h1 {
  color: #fff;
  font-size: 48px;
  margin: 0;
}

.hero-text h2 {
  color: #fff;
  font-size: 18px;
  margin: 10px 0;
}

.hero-text h3 {
  color: #fff;
  font-size: 24px;
  margin: 05px 0;
}

.scroll-link {
  padding: 10px 20px;
  color: var(--quatrinary);
  border-radius: 5px;
  text-decoration: none;
}

.scroll-link:hover {
  color: var(--primary);
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-title {
  font-size: 20px;
  font-weight: bold;
}

.event-date {
  font-size: 16px;
  margin-top: 5px;
}

.event-card p {
  margin-top: 10px;
}

.event-box {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary);
  margin: 0;
}

.event-date {
  font-size: 16px;
  color: #555;
  margin: 0;
  margin-top: 5px;
}

.event-details {
  margin-bottom: 10px;
}

.event-time,
.event-capacity-cost {
  margin: 0;
}

.event-capacity-cost span {
  font-weight: bold;
}

.btn-attend,
.btn-favorite {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.btn-attend button,
.btn-favorite button {
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--quatrinary);
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.btn-attend button:hover,
.btn-favorite button:hover {
  background-color: var(--primary);
}

.imageUrl {
  width: 100%;
  height: 300px;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 48px;
  }
}

@media (max-width: 576px) {
  .hero-text h1 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .hero-text h2 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .hero-text h2 {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .hero-text h3 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .hero-text h3 {
    font-size: 14px;
  }
}
